<mat-toolbar color="primary">Webapp Information</mat-toolbar>

<div class="content">
  <h2 style="font-weight: bold">Developed by Usama Rana</h2>
  <p>This portfolio webapp is made to demonstrate knowledge of REST API management on the Frontend using Angular V16.</p>
  <p>It uses <a href="https://material.angular.io/components/categories"><strong role="button" style="color: #0070d2">Angular Material</strong></a> components such as Table, Pagination, Sorting, Dialog to display the API data on the UI.</p>
  <p>Routing between the different components is also demonstrated, as well as loading the data gracefully using loader service to manage the loading state.</p>

    <p>
      <strong>GET:</strong> This request is used to display the list of users in <strong role="button" routerLink="/people-api" style="color: #0070d2">People API</strong> section (Pagination and sorting is functional on the table)
    </p>
    <p>
      <strong>POST:</strong> This request is used to create new users in <strong role="button" routerLink="/booking-api" style="color: #0070d2">Booking API</strong> which can then be shown in the table (Once the user is successfully created you will then be routed to the <strong role="button" routerLink="/people-api" style="color: #0070d2">list table</strong>)
    </p>
    <p>
      <strong>PUT:</strong> This request is used to edit/modify existing user details when clicking on the names in the <strong role="button" routerLink="/people-api" style="color: #0070d2">list table</strong>
    </p>
    <p>
      <strong>DELETE:</strong> This request is used to delete the users when clicking on the delete button in the <strong>"Actions"</strong> column inside the <strong role="button" routerLink="/people-api" style="color: #0070d2">list table</strong> 
    </p>

    <p>
      <a href="https://www.linkedin.com/in/usama-rana-805317120/"><strong role="button" style="color: #0070d2" >LinkedIn</strong></a>
    </p>
    <p>
      <a href="https://github.com/usamarana/Angular-Portfolio-Web-App"><strong role="button" style="color: #0070d2">Github Angular Portfolio</strong></a>
    </p>
</div>
